[Unit]
Description="{{ aksara_name }}-logica-schedule"
PartOf={{ aksara_name }}-workers.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ aksara_cmd }} schedule
StandardOutput=file:{{ aksara_dir }}/logs/schedule.log
StandardError=file:{{ aksara_dir }}/logs/schedule.error.log
WorkingDirectory={{ aksara_dir }}
