[Unit]
Description="{{ aksara_name }}-logica-short-worker %I"
PartOf={{ aksara_name }}-workers.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ aksara_cmd }} worker --queue short
StandardOutput=file:{{ aksara_dir }}/logs/worker.log
StandardError=file:{{ aksara_dir }}/logs/worker.error.log
WorkingDirectory={{ aksara_dir }}
